@use "./abstracts" as *;
@use "./base" as *;
@use "./components" as *;
@use "./layout" as *;
@use "./pages" as *;
@use "./themes" as *;
// @use "./vendors/" as *;

//GLOBAL_STYLES
body {
  font-family: "Roboto", sans-serif;
  background-color: getColor("bg-color");
  color: getColor("text-color");

  .container {
    width: 95%;
    margin: 0 auto;

    @include sm {
      width: 93%;
    }

    @include lg {
      max-width: 1400px;
      width: 90%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 900;
    text-transform: capitalize;
  }

  // xs fontsizes
  p {
    @include text(300);
  }

  a {
    @include text(300);
    color: getColor();
    text-decoration: none;

    // &:hover {
    //   text-decoration: underline;
    //   text-underline-offset: 0.05rem;
    // }
  }

  h1 {
    @include text(1000);
    color: getColor("heading-1-color");
  }

  h2 {
    @include text(800);
    color: getColor("heading-2-color");
  }

  h3 {
    @include text(700);
    color: getColor("heading-3-color");
  }

  h4 {
    @include text(600);
    color: getColor("heading-4-color");
  }

  h5 {
    @include text(500);
    color: getColor("heading-5-color");
  }

  // md fontsizes
  @include md {
    p {
      @include text(400);
    }

    a {
      @include text(400);
    }

    h1 {
      @include text(1100);
    }

    h2 {
      @include text(1000);
    }

    h3 {
      @include text(800);
    }

    h4 {
      @include text(700);
    }

    h5 {
      @include text(600);
    }
  }
}
