@use "../abstracts" as *;
@use "../base/fonts" as *;

.btn {
  display: block;
  padding: getPadding(500) getPadding(800);
  border: 2px solid getColor("color-1");
  background-color: transparent;
  font-size: getFontSize(300);
  font-weight: 600;
  text-transform: uppercase;
  color: getColor("color-1");
  cursor: pointer;
  @include transition(box-shadow);
  @include radius;

  &:hover {
    @include boxShadow;
  }
}
