@use "../abstracts" as *;

.light-theme {
  background-color: getLightThemeColor("bg-color");
  color: getLightThemeColor("text-color");

  h1 {
    color: getLightThemeColor("heading-1-color");
  }
  h2 {
    color: getLightThemeColor("heading-2-color");
  }
  h3 {
    color: getLightThemeColor("heading-3-color");
  }
  h4 {
    color: getLightThemeColor("heading-4-color");
  }
  h5 {
    color: getLightThemeColor("heading-5-color");
  }
  a {
    color: getLightThemeColor("heading-1-color");
  }
  p {
    color: getLightThemeColor("text-color");
  }

  .btn {
    border: 2px solid getLightThemeColor("color-1");
    color: getLightThemeColor("color-1");

    &:hover {
      @include boxShadow(getLightThemeColor("color-1"));
    }
  }
}
